<!DOCTYPE html>
<html>
<head>
  <%
=begin%>
 <title><%= title(yield(:title)) %></title> 
<%
=end%>
  <%
=begin%>
 <%= stylesheet_link_tag    "application.css", media: "all", "data-turbolinks-track" =>
  true %>
  <%= javascript_include_tag "application.css", "data-turbolinks-track" =>
  true %>
  <%= csrf_meta_tags %> 
<%
=end%>
<%= render 'layouts/shim' %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <%= render 'layouts/flash' %>
    <%= yield %>
  <%= render 'layouts/footer' %>
  </div>
</body>
</html>