<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <img alt="The D Zone Football" src="https://www.thedzone.com/assets/dzone-5fbbeccea9b63850956a89dc4ffd4436d1da98a8ba25a65148b5419eb9c20ed0.svg">
    <%= link_to "Home",    '#' %>
    <%= link_to "Help",    '#' %>
    <%= link_to "Sign in", '#' %>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>   
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Friday Night Lights", '#', id: "logo" %>
          <nav>
            <ul class="nav pull-right">
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>